{% load static %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Swimming Pool Booking System{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'booking/style.css' %}">
    <link rel="stylesheet" href="{% static 'booking/layout.css' %}">
    <link rel="stylesheet" href="{% static 'booking/normalize.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Swimming Pool Booking System</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'book_class' %}">Book a Class</a></li>
                    {% if user.is_staff %}
                        <li><a href="{% url 'manage_classes' %}">Manage Classes</a></li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <li>
                        <a class="{% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="{% if request.path == signup_url %}active{% endif %}" aria-current="page"
                            href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li>
                        <a class="{% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <div class="container">
            <!-- Add footer content here -->
            &copy; 2024 Swimming Pool Booking System
        </div>
    </footer>
</body>
</html>