{% extends 'base.html' %}

{% block content %}
    <h2>Welcome to the Swimming Pool Booking System</h2>

        <h3>Available Classes</h3>
    {% if classes %}
        <ul>
            {% for class in classes %}
                <li>{{ class.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p> - No classes available at the moment. Check back later!</p>
    {% endif %}

        <h3>Your Bookings</h3>
    {% if bookings %}
    <h1>Booking List</h1>
    <table class="table table_custom">
        <thead>
            <tr>
                <th>User</th>
                <th>Date and Time</th>
                <th>Selected Class</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
                <tr>
                    <td>{{ booking.user.username }}</td>
                    <td>{{ booking.date_time }}</td>
                    <td>{{ booking.selected_class }}</td>
                    <td>{{ booking.get_time_display }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p> - No bookings yet. Start booking your classes!</p>
    {% endif %}
{% endblock %}
