{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<h5>Welcome to the Swimming Pool Booking System <strong>{{ user }}!</strong></h5>
{% endif %}
<hr>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    {% if 'cancel_booking' or 'edit_booking' in message.tags %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endif %}
        {% endfor %}
</ul>
{% endif %}
<h3>Available Classes:</h3>
<div class="container-responsive">
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-1 p-0">
        {% for class in classes %}
        <div class="col p-0">
            <div class="p-3 class-border d-flex flex-column h-100 m-0">
                <span class="fs-5 text-center">{{ class.name }} - </span>
                <span class="text-center lh-1">{{ class.description }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<h3>My Bookings:</h3>
{% if bookings %}
<div class="table-responsive">
    <table class="table table_custom">
        <thead>
            <tr>
                <th>User</th>
                <th>Class</th>
                <th>Date</th>
                <th>Time</th>
                <th>Edit/Change</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.user.username }}</td>
                <td>{{ booking.selected_class }}</td>
                <td>{{ booking.date_time }}</td>               
                <td>{{ booking.get_time_display }}</td>
                {% if booking.date_time >= current_datetime %}
                <td>
                    <div class="d-grid gap-2 d-md-block">
                        <a class="btn btn-primary" style="--bs-btn-padding-y: .25rem; 
                            --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                            href="{% url 'edit_booking' booking.id %}">Edit</a>
                        <a class="btn btn-primary " style="--bs-btn-padding-y: .25rem; 
                            --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                            href="{% url 'cancel_booking' booking.id %}">Cancel</a>
                    </div>
                </td>
                {% else %}
                <td>---NA---</td>
                {% endif %}
            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% else %}
<p> - No bookings yet. <a class="link" href="{% url 'book_class' %}"><strong>Start booking your classes!</strong></a>Start booking your classes!</p>
{% endif %}
{% endblock %}