/* ------Base */

header{
    background-color: #209CEE;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', 'Arial', sans-serif;
    --bs-body-bg: #209CEE;
    color: #1103a6;
    width: 100%;
}

main {
    padding: 20px;
}

hr {
    border-top: 3px solid white;
    padding-bottom: 20px;
    opacity: 1.0;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Montserat', 'Arial', sans-serif;
}

h3 {
    margin: 20px;

}


/* ------NavBar */

.navbar {
    --bs-body-bg: #209CEE;
    --bs-navbar-color: #ffffff;

    
}

.navbar a:hover {
    color: #1103a6;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    border: 2px solid white;
}

.navbar-brand {
    color: white;
    font-size: 200%;
    font-family: 'Montserat', 'Arial', sans-serif;
    font-style: italic;
}

.class-border {
    border: 1px solid #ffffff;
}

.table_custom {
    --bs-table-bg: transparent;
    --bs-table-color: #1103a6;
    width: 100%;
}


/* -----Messages */

.success {
    color: #00ff00 !important;
}

.error {
    color: #ff0000 !important;
}


/* -------- footer */

footer {
    background-color: #209CEE;
    margin: 0;
    position: sticky;

    padding: 20px 0;

}

footer p {
    background-color: #209CEE;
    margin-top: auto;
    text-align: center;
    color: white;
    font-size: 0.8rem;

}


footer p a {
    color: white;
}

.social-networks {
    text-align: center;
    margin: 0;
    padding: 0;
}


.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 110%;
    margin: 0;
    padding: 1.5% 1.5%;
    color: white;
}


/* background */

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('./waves.svg');
    width: 100%;
}