/* --------- Global style */

body {
    font-family: 'Arial', sans-serif; 
    --bs-body-bg: #209CEE;
    color: #1103a6;
}

main { 
    padding-top: 50px;
}

.navbar { --bs-navbar-bg: #209CEE;}


.table_custom { --bs-table-bg: transparent; }

/* -------- footer */

footer {
    background-color: #209CEE;
    margin: 0;
    position: sticky;

    padding: 20px 0;

}

footer p {
    background-color: #209CEE;
    margin-top: auto;
    text-align: center;
    color: white;
    font-size: 0.8rem;

}


footer p a {
    color: white;
}

.social-networks {
    text-align: center;
    margin: 0;
    padding: 0;
}


.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 110%;
    margin: 0;
    padding: 1.5% 1.5%;
    color: white;
}



.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .layer1 {
    background-image: url('./waves.svg');
  }